/.vs
/ConsoleApplicationTest/tmp
/SQLit3/tmp
/x64
/Win32
/ConsoleApplicationTest/1.db
/ConsoleApplicationTest/2.db
/SQLCommander/x64
/SQLCommander/SQLCommander.aps
/SQLCommander/Win32
/ConsoleApplicationTest/*.db
